#register_container{
    display: flex;
    flex-direction: column;
    align-self: center;

}

#register_body{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #eaeaea;
    padding: 20px 20px;
    min-height: 150px;
    margin: 0px auto;
}
img{
    display: inline;
    align-self: center;
}