<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.geopia.wallet_ncoin.mapper.AcoinAddressMapper">
 
    <select id="select" resultType="com.geopia.wallet_ncoin.domain.AcoinAddressVO">
        select * from wiz_address_info where address = #{address}
    </select>
 
</mapper>

