<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.geopia.wallet_ncoin.mapper.NcoinCustomerRoleMapper">
 
    
	
	<select id="findByRole" resultType="com.geopia.wallet_ncoin.dto.Role">
		select * from ncoin_customer_role where role_name =
		#{role_name}
		)
	</select>
 
</mapper>

