<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.geopia.wallet_ncoin.mapper.NcoinCustomerMapper">
 
    <insert id="addcustomer" parameterType="com.geopia.wallet_ncoin.dto.NcoinCustomerDto">
		INSERT INTO ncoin_customer (
			id,
			password,
			country,
			phone,
			ncoin_address
		) VALUES (
			#{id}
			, PASSWORD(#{password})
			, #{country}
			, #{phone}
			, #{ncoin_address}
		)
	</insert>
	
	<select id="findById" resultType="com.geopia.wallet_ncoin.dto.NcoinCustomerDto">
		select * from ncoin_customer where id =
		#{userid}
		)
	</select>
 
</mapper>

